<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Widget\Model\Widget">
        <plugin name="image_uploader_solve" type="AlbertMage\Cms\Plugin\Widget" sortOrder="1"/>
    </type>
    <type name="Magento\Framework\Mail\TransportInterface">
        <plugin sortOrder="100" name="magePalGmailSmtpAppTransportInterface" type="AlbertMage\Email\Plugin\Mail\TransportPlugin"/>
    </type>

    <type name="Magento\Framework\Mail\Template\TransportBuilder">
        <plugin sortOrder="1" name="magePalGmailSmtpAppTransportBuilder"
                type="AlbertMage\Email\Plugin\Mail\Template\TransportBuilderPlugin"/>
    </type>

    <type name="Magento\Framework\Mail\Template\TransportBuilderByStore">
        <plugin sortOrder="1" name="magePalGmailSmtpAppTransportBuilderByStore"
                type="AlbertMage\Email\Plugin\Mail\Template\TransportBuilderByStorePlugin"/>
    </type>
    <type name="Magento\Config\Model\Config\TypePool">
        <arguments>
            <argument name="environment" xsi:type="array">
                <item name="system/albertsmtpmail/active" xsi:type="string">1</item>
                <item name="system/albertsmtpmail/ssl" xsi:type="string">1</item>
                <item name="system/albertsmtpmail/auth" xsi:type="string">1</item>
                <item name="system/albertsmtpmail/smtphost" xsi:type="string">1</item>
                <item name="system/albertsmtpmail/smtpport" xsi:type="string">1</item>
                <item name="system/albertsmtpmail/username" xsi:type="string">1</item>
                <item name="system/albertsmtpmail/password" xsi:type="string">1</item>
                <item name="system/albertsmtpmail/set_reply_to" xsi:type="string">1</item>
                <item name="system/albertsmtpmail/set_from" xsi:type="string">1</item>
                <item name="system/albertsmtpmail/custom_from_email" xsi:type="string">1</item>
                <item name="system/albertsmtpmail/return_path_email" xsi:type="string">1</item>
            </argument>
        </arguments>
    </type>
</config>